@function img-path($name) {
  @return '../img/'+$name;
}

$textColor: #343a40;

a, a:active, a:hover, a:visited {
  color: $textColor;
}

.bold{
  font-weight: bold;
}

.underlined {
  border-bottom: 1px solid #343a40;
}

.centered {
  text-align: center;
}

.icon{
  width: 16px;
  height: 16px;
}

button{
  padding: 5px;
  padding-inline: 5px;
  padding-block-start: 4px;
  padding-block-end: 4px;
  color: $textColor;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

button.primary{
  border-color: blue;
  border-width: 2px;
}

button:focus, a:focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

input, select, option{
  font-size: 1rem;
}

form{
  .formGroup{
    padding: 0.5rem 0;

    label, input, button, div.append{
      display: inline-block;
    }

    label{
      margin-right: 1rem;
    }

    div.append{
      margin-left: 1rem;
    }
  }
}

.hint{
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
}

dialog{
  padding: 0;
  border: 1px solid gray;
  border-radius: 10px;
  color: $textColor;

  .dialog{
    &.md{
      min-width: 300px;
    }
    &.lg{
      min-width: 500px;
    }
  }

  .modalHeader{
    padding: 1rem 0.5rem 0 0.5rem;
    height: 2rem;
    border-bottom: 1px solid gray;

    img.closeIcon{
      float: right;
    }
  }

  .modalBody{
    padding: 0.5rem;
  }

  .modalFooter{
    padding: 0.5rem;
    height: 2rem;
    border-top: 1px solid gray;
  }
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}