@import "basics";

html{
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  background: #f0f0f0;
  color: #343a40;
  height: 100%;
  overflow: hidden;
}

header {
  background: #e5e8eb url(img-path('papier.jpg'));
  display: table;
  width: 100%;
  height: 3rem;
  border-bottom: solid 1px #6c757d;

  .logo-area {
    display: table-cell;
    width: 200px;
    padding-left: 1rem;

    img {
      height: 2.5rem;
    }
  }

  .nav-area {
    display: table-cell;
    vertical-align: top;
  }

  .nav {
    font-size: 0.8rem;
    height: 1.2rem;
    text-align: right;
    vertical-align: top;
    padding: 0.1rem 1rem 0.1rem 0;

    ul{
      display: table;
      float: right;
      list-style: none;
      padding-inline-start: 0;

      li{
        display:table-cell;
        padding: 0 0 0 1rem;

        a {
          cursor: pointer;
        }

        img{
          width: 16px;
          height: 16px;
        }
      }

    }

  }
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - 5rem);
}

#map{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#centerCross{
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  z-index: 400;
}

#centerCross img{
  width: 20px;
  height: 20px;
}

#routePanel{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 25% !important;
  z-index: 410;
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: scroll;
}

#routeResult{

}

.routeStartIcon{
  color: green;
}

.routeEndIcon{
  color: red;
}

.routeCursor {
  cursor: pointer !important;
}

footer {
  background: #e5e8eb url(img-path('papier.jpg'));
  height: 1rem;
  border-top: solid 1px #6c757d;
  font-size: 0.8rem;
}

footer div{
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

#cookieBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 1001;
  border-radius: 0;
  display: none;
  padding: 1rem;
  background-color: rgba(255,255,255,0.7);
}

div.searchResult{
  padding: 0.5rem;
}


